@charset "ISO-8859-1";

<style>.body {
	margin: 40;
	font-family: Arial, Helvetica, sans-serif;
}

/* Style the top navigation bar */
.topnav {
	overflow: hidden;
	background-color: #400040;
}

/* Style the topnav links */
.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.row {
	column-count: 2;
	column-gap: 20px;
	padding-top: 40px;
	column-rule-width: 5px;
	column-rule-color: lightblue;
}

.input[type=text] {
	width: 20%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	background-color: #0CBC8D;
	color: white;
}

.input[type=button], input[type=submit] {
	background-color: #c0c0c0;
	border: double;
	border-style: line;
	border-color: black;
	padding: 16px 32px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	align: center;
}

.footer {
	padding: 20px;
	text-align: center;
	background: #ddd;
	margin-top: 20px;
}
</style>